/* Write your CSS code here */
.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.contact-img {
  width: 170px;
}

.contact-heading {
  font-family: 'Roboto';
  font-size: 24px;
  color: #6d396b;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .contact-heading {
    font-size: 48px;
  }
}
